				* {
				 box-sizing: border-box;
				}

				html,
				body {
				 min-width: 320px;
				}

				.header {
				 background-color: #373c3f;
				 height: 37px;
				 display: flex;
				 justify-content: space-between;
				 flex-direction: row;
				 position: relative;
				}

				.main-img {
				 display: none;
				}

				.main-title {
				 color: #ffffff;
				 font-family: 'Montserrat', sans-serif;
				 font-size: 12px;
				 font-weight: 500;
				 line-height: 26px;
				 align-self: center;
				 padding-left: 12px;
				}

				.navbar-menu-block {
				 background-color: #202529;
				 width: 41px;
				 height: 37px;
				}

				.fa-bars {
				 color: #fff;
				 font-size: 25px;
				 display: flex;
				 justify-content: center;
				 padding-top: 5px;
				}

				.fa-times {
				 color: #fff;
				 font-size: 25px;
				 width: 100%;
				 display: flex;
				 justify-content: center;
				}

				.navbar-menu {
				 display: none;
				 background-color: #fff;
				 position: absolute;
				 top: 37px;
				 right: 0;
				 width: 182px;
				 height: 161px;
				 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
				}

				.navbar-menu-item {
				 display: block;
				 color: #444444;
				 font-family: 'Lato', sans-serif;
				 font-size: 12px;
				 line-height: 31px;
				 cursor: pointer;
				 padding-left: 12px;
				}

				.navbar-menu-item:hover {
				 background-color: #f5f5f5;
				}

				.navbar-menu.active {
				 display: block;
				}


				/*MAIN SECTION*/
				.main-section {
				 background-image: url(../img/320/320_main_image.jpg);
				 background-repeat: no-repeat;
				 background-size: cover;
				 width: 100%;
				 height: 173px;
				 padding-left: 19px;
				 margin-bottom: 4px;
				}

				.main-section-title {
				 padding-top: 19px;
				 color: #ffffff;
				 font-family: 'Lato', sans-serif;
				 font-size: 16px;
				 font-weight: 700;
				 line-height: 20px;
				}

				.main-subtitle {
				 text-decoration: none;
				 color: #a6d6e0;
				 font-family: 'Lato', sans-serif;
				 font-size: 14px;
				 font-weight: 700;
				 line-height: 30px;
				}

				/*PRODUCT SECTION*/

				.product-block {
				 background-repeat: no-repeat;
				 background-size: cover;
				 width: calc(100% - 71px);
				 height: 75px;
				 display: flex;
				 flex-direction: column;
				 justify-content: center;
				 flex-wrap: nowrap;
				 margin-bottom: 2px;
				}

				.product-block-title {
				 color: #ffffff;
				 font-family: 'Lato', sans-serif;
				 font-size: 20px;
				 font-weight: 700;
				 line-height: 44px;
				 align-self: center;
				}

				.product-after-block {
				 display: flex;
				 color: #fff;
				 width: 71px;
				 height: 75px;
				 background-color: #acd8ad;
				 position: absolute;
				 right: 0;
				 align-items: center;
				 justify-content: center;
				}

				.product-block.first-section {
				 background-image: url(../img/320/first-product_320.jpg);
				}

				.product-block.second-section {
				 background-image: url(../img/320/second-product_320.jpg);
				}

				.product-block.third-section {
				 background-image: url(../img/320/third-product_320.jpg);
				 margin-bottom: 0;
				}

				/*PRICE TABLE SECTION*/
				.price-table-section {
				 margin-top: 26px;
				}

				.price-table-title-block {
				 font-family: 'Lato';
				 padding-left: 10px;
				}

				.table-title {
				 color: #3f4043;
				 font-size: 20px;
				 text-transform: uppercase;

				}

				.price-table-subtitle {
				 color: #cbccce;
				 font-size: 10px;
				}

				.price-table-title {
				 font-family: 'Lato', sans-serif;
				 font-size: 20px;
				 text-transform: uppercase;
				 padding: 12px 0 11px 19px;
				 margin-top: 10px;
				}

				.price-table-title.first-price-table-title {
				 background-color: #3f4043;
				 color: #acd8ad;
				}

				.price-table-title.second-price-table-title {
				 background-color: #acd8ad;
				 color: #ffffff;
				 margin-top: 29px;
				}

				.type-of-food-block {
				 margin-bottom: 21px;
				 display: flex;
				 justify-content: space-between;
				}

				.type-of-food-block.typeof-food-second {
				 margin-left: 0;
				 margin-top: -11px;
				}

				.type-of-food-title {
				 display: inline-block;
				 margin-top: 19px;
				 margin-left: 20px;
				 color: #3f4043;
				 font-family: 'Lato', sans-serif;
				 font-size: 15px;
				 text-transform: uppercase
				}

				.type-of-food-title.typeof-food-second-title {
				 margin-left: 0;
				}

				.price-table-img {
				 display: inline-block;
				 margin-top: 11px;
				 width: 25px;
				 height: 25px;
				 background-repeat: no-repeat;
				 position: relative;
				 top: 5px;
				 right: 18px;
				}

				.price-table-img.price-first-img {
				 background-image: url(../img/320/type-of-food-icon1_320.jpg);
				}

				.price-table-img.price-second-img {
				 background-image: url(../img/320/type-of-food-icon2_320.jpg);
				}

				.price-table-img.price-third-img {
				 background-image: url(../img/320/type-of-food-icon3_320.jpg);
				 width: 30px;
				}

				.price-table-img.price-fourth-img {
				 background-image: url(../img/320/type-of-food-icon4_320.jpg);
				}

				.price-list {
				 padding-left: 20px;
				}

				.price-list-item {
				 display: flex;
				 justify-content: space-between;
				}

				.price-list-item-title {
				 color: #3f4043;
				 font-family: 'Lato';
				 font-size: 14px;
				}

				.price-list-item-title::before {
				 content: '●';
				 font-size: 0.3rem;
				 display: inline-block;
				 position: relative;
				 bottom: 2px;
				 color: #3f4043;
				}

				.food-price-item {
				 color: #3f4043;
				 font-family: 'Lato';
				 font-size: 14px;
				 font-weight: 700;
				 margin-right: 18px;
				}

				.price-item-description {
				 display: block;
				 padding-top: 8px;
				 width: calc(100% - 15px);
				 color: #3f4043;
				 font-family: 'Lato';
				 font-size: 9px;
				 margin-bottom: 11px;
				}

				.footer {
				 background-color: #acd8ad;
				 width: 100%;
				 height: 55px;
				 margin-top: 48px;
				 margin-bottom: 15px;
				}

				.footer-text {
				 text-align: center;
				 color: #ffffff;
				 font-family: 'Montserrat', sans-serif;
				 font-size: 0.7rem;
				 line-height: 16px;
				 padding-top: 13px;
				 padding-bottom: 11px;
				}

				.main-img.footer-img {
				 display: none;
				}

				@media(min-width: 640px) {
				 .header {
				  height: 74px;
				 }

				 .main-title {
				  padding: 26px 0 25px 38px;
				  font-size: 24px;
				  font-weight: 500;
				  line-height: 26px;
				 }

				 .navbar-menu-block {
				  width: 82px;
				  height: 74px;
				 }

				 .fa-bars {
				  padding-top: 12px;
				  font-size: 50px;
				 }

				 .fa-times {
				  font-size: 50px;
				 }

				 .navbar-menu {
				  top: 75px;
				  width: 243px;
				  height: 214px;
				  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
				 }

				 .navbar-menu-item {
				  font-size: 14px;
				  font-weight: 400;
				  line-height: 40px;
				 }

				 /*MAIN SECTION*/

				 .main-section {
				  background-image: url(../img/640/640_main_image.jpg);
				  height: 346px;
				  padding-left: 39px;
				 }

				 .main-section-title {
				  padding-top: 30px;
				  font-size: 36px;
				  font-weight: 700;
				  line-height: 38px;
				 }

				 .main-subtitle {
				  font-size: 24px;
				  font-weight: 700;
				  line-height: 64px;
				 }

				 /*PRODUCT SECTION*/

				 .product-block {
				  width: calc(100% - 142px);
				  height: 150px;
				  margin-bottom: 1px;
				 }

				 .product-block-title {
				  font-size: 36px;
				 }

				 .product-after-block {
				  width: 142px;
				  height: 150px;
				 }

				 .fa-chevron-right {
				  font-size: 35px;
				 }

				 .product-block.first-section {
				  background-image: url(../img/640/first-product_640.jpg);
				 }

				 .product-block.second-section {
				  background-image: url(../img/640/second-product_640.jpg);
				 }

				 .product-block.third-section {
				  background-image: url(../img/640/third-product_640.jpg);
				 }

				 /*PRICE TABLE SECTION*/
				 .price-table-title-block {
				  padding-left: 22px;
				 }

				 .table-title {
				  font-size: 39px;
				 }

				 .price-table-subtitle {
				  font-size: 20px;
				 }

				 .main-food-img {
				  display: none;
				 }

				 .price-table-title {
				  font-size: 40px;
				  padding: 23px 0 23px 38px;
				  margin-top: 20px;
				 }

				 .type-of-food-title {
				  margin-top: 38px;
				  margin-left: 39px;
				  font-size: 30px;
				 }

				 .price-table-img {
				  margin-top: 11px;
				  width: 50px;
				  height: 50px;
				  top: 10px;
				  right: 30px;
				 }

				 .price-table-img.price-first-img {
				  background-image: url(../img/640/type-of-food-icon1_640.jpg);
				 }

				 .price-table-img.price-second-img {
				  background-image: url(../img/640/type-of-food-icon2_640.jpg);
				 }

				 .price-table-img.price-third-img {
				  background-image: url(../img/640/type-of-food-icon3_640.jpg);
				  width: 60px;
				 }

				 .price-table-img.price-fourth-img {
				  background-image: url(../img/640/type-of-food-icon4_640.jpg);
				 }

				 .price-list {
				  padding-left: 39px;
				 }

				 .price-list-item-title {
				  font-size: 27px;
				 }

				 .price-list-item-title::before {
				  font-size: 0.6rem;
				  bottom: 4px;
				 }

				 .food-price-item {
				  font-size: 27px;
				  margin-right: 35px;
				 }

				 .price-item-description {
				  padding-top: 16px;
				  font-size: 18px;
				  margin-bottom: 22px;
				 }

				 .footer {
				  height: 97px;
				  margin-top: 117px;
				  margin-bottom: 30px;
				 }

				 .footer-text {
				  font-size: 1.4rem;
				  line-height: 26px;
				  padding-top: 28px;
				  padding-bottom: 23px;
				 }
				}

				@media(min-width: 980px) {
				 .header {
				  height: 97px;
				 }

				 .main-title {
				  display: none;
				 }


				 .navbar-menu-block {
				  display: none;
				 }

				 .navbar-menu {
				  display: flex;
				  position: relative;
				  top: 0;
				  width: 60%;
				  height: 100%;
				  background-color: transparent;
				  box-shadow: 0 1px 3px transparent;
				  flex-direction: row;
				  align-items: center;
				  justify-content: space-evenly;
				 }

				 .navbar-menu-item {
				  display: inline-flex;
				  color: #ffffff;
				  font-family: 'Montserrat', sans-serif;
				  font-size: 15px;
				  line-height: 26px;
				  text-transform: uppercase;
				 }

				 .navbar-menu-item:hover {
				  background-color: transparent;
				 }

				 .main-img {
				  display: block;
				  width: 104px;
				  height: 83px;
				  margin: 8px 36px 9px 0;
				 }

				 /*MAIN SECTION*/

				 .main-section {
				  background-image: url(../img/980/980_main_image.jpg);
				  width: 100%;
				  height: 530px;
				  padding-left: 30px;
				 }

				 .main-section-title {
				  font-size: 54px;
				  line-height: 64px;
				  padding-top: 64px;
				 }

				 .main-subtitle {
				  font-size: 34px;
				  line-height: 64px
				 }

				 /*PRODUCT SECTION*/
				 .product-block {
				  display: inline-flex;
				  width: 33.26%;
				  height: 327px;
				  margin-right: -4px;
				 }

				 .product-block-title {
				  font-size: 38px;
				 }

				 .product-after-block {
				  display: none;
				 }

				 .fa-chevron-right {
				  display: none;
				 }

				 .product-block.first-section {
				  background-image: url(../img/980/first-product_980.jpg);
				 }

				 .product-block.second-section {
				  background-image: url(../img/980/second-product_980.jpg);
				 }

				 .product-block.third-section {
				  background-image: url(../img/980/third-product_980.jpg);
				  margin-bottom: 0;
				  margin-right: 0px;
				 }

				 /*PRICE TABLE SECTION*/
				 .price-table-title-block {
				  padding-left: 31px;
				  display: inline-block;
				 }

				 .table-title {
				  font-size: 34px;
				 }

				 .main-food-img {
				  display: inline-block;
				  width: 109px;
				  height: 89px;
				  background-image: url(/img/980/Menu-food-logo_980.jpg);
				  margin-left: calc(100% - 700px);
				 }

				 .price-table-title {
				  font-size: 34px;
				  padding: 27px 0 23px 18px;
				  margin-top: 21px;
				  width: 50vw;
				 }

				 .price-table-section {
				  overflow: hidden;
				 }

				 .type-of-food-title {
				  margin-top: 41px;
				  margin-left: 19px;
				  font-size: 26px;
				 }

				 .price-table-img {
				  right: 10px;
				 }

				 .price-table-img.price-first-img {
				  background-image: url(../img/640/type-of-food-icon1_640.jpg);
				 }

				 .price-table-img.price-second-img {
				  background-image: url(../img/640/type-of-food-icon2_640.jpg);
				 }

				 .price-table-img.price-third-img {
				  background-image: url(../img/640/type-of-food-icon3_640.jpg);
				 }

				 .price-table-img.price-fourth-img {
				  background-image: url(../img/640/type-of-food-icon4_640.jpg);
				 }

				 .price-list {
				  display: inline-block;
				  padding-left: 19px;
				  width: 50vw;
				 }

				 .second-table {
				  display: inline-block;
				  width: 49vw;
				 }

				 .first-table {
				  display: inline-block;
				  width: 50vw;
				 }

				 .price-list-item-title {
				  font-size: 24px;
				 }

				 .price-list-item-title::before {
				  font-size: 0.5rem;
				  bottom: 5px;
				 }

				 .food-price-item {
				  font-size: 24px;
				  margin-right: 13px;
				 }

				 .price-item-description {
				  padding-top: 17px;
				  font-size: 16px;
				  margin-bottom: 28px;
				 }

				 .footer {
				  display: flex;
				  justify-content: space-between;
				  align-items: center;
				 }

				 .br {
				  display: none;
				 }

				 .footer-text {
				  display: inline-flex;
				  font-size: 1.4rem;
				  font-size: 18px;
				  margin-right: 30px;
				 }

				 .main-img.footer-img {
				  display: inline-block;
				  margin-left: 30px;
				 }
				}

				@media(min-width: 1200px) {
				 .main-img {
				  margin-right: 38px;
				 }

				 /*MAIN SECTION*/

				 .main-section {
				  background-image: url(../img/1200/1200_main_image.jpg);
				  height: 649px;
				  padding-left: 37px;
				 }

				 .main-section-title {
				  font-size: 62px;
				 }

				 .main-subtitle {
				  font-size: 38px;
				 }

				 /*PRODUCT SECTION*/
				 .product-block {
				  width: 33.3%;
				  height: 400px;
				 }

				 .product-block-title {
				  font-size: 38px;
				 }

				 .product-after-block {
				  display: none;
				 }

				 .fa-chevron-right {
				  display: none;
				 }

				 .product-block.first-section {
				  background-image: url(../img/1200/first-product_1200.jpg);
				 }

				 .product-block.second-section {
				  background-image: url(../img/1200/second-product_1200.jpg);
				 }

				 .product-block.third-section {
				  background-image: url(../img/1200/third-product_1200.jpg);
				  margin-bottom: 0;
				  margin-right: 0px;
				 }

				 .first-table {
				  margin-right: 1%;
				  width: 48vw;
				 }

				 /*PRICE TABLE SECTION*/

				 .table-title {
				  font-size: 40px;
				 }

				 .main-food-img {
				  margin-left: calc(100% - 800px);
				 }

				 .price-table-title {
				  font-size: 40px;
				  padding: 23px 0 23px 18px;
				  margin-top: 16px;
				 }

				 .type-of-food-title {
				  margin-top: 38px;
				  margin-left: 25px;
				  font-size: 30px;
				 }

				 .price-table-img {
				  right: 5px;
				 }

				 .price-list {
				  padding-left: 22px;
				 }

				 .price-list-item-title {
				  font-size: 27px;
				 }

				 .food-price-item {
				  font-size: 27px;
				  margin-right: 21px;
				 }

				 .price-item-description {
				  padding-top: 16px;
				  font-size: 18px;
				  margin-bottom: 22px;
				 }

				 .footer-text {
				  margin-right: 38px;
				 }

				 .main-img.footer-img {
				  margin-left: 37px;
				 }
				}